/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}
.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background: #293447;
    box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}
.game-details {
    color: #B8C6DC;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board {
    height: 100%;
    width: 100%;
    display: grid;
    background: #212837;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
    background: #ff2258;
}
.play-board .head {
    background: #5087da;
}
.controls {
    display: flex;
    justify-content: space-around;



}
.controls  i {
    padding: 15px 0;
    text-align: center;
    font-size: 1rem;
    color: #B8C6DC;
    width: calc(100% /8);
    cursor: pointer;

}

.controls2 {
    display: flex;
    justify-content: center;


}

.controls2 i {

    text-align: center;
    font-size: 1rem;
    color: #B8C6DC;
    width: calc(100% / 8);
    cursor: pointer;

}

.controls3 {
    display: flex;
    justify-content: center;


}

.controls3 i {
    padding: 15px 0;
    text-align: center;
    font-size: 1rem;
    color: #B8C6DC;
    width: calc(100% / 8);
    cursor: pointer;

}



@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 120vmin;
        margin: 15px 25px;

    }
    .game-details {
        font-size: 1.5rem;
        padding: 15px 27px;
    }
    .controls {
        display: flex;
        border-top: 2px solid lightslategray;
    }

    .controls2 {
        display: flex;
    }

    .controls3 {
        display: flex;
    }

    .controls i {
        padding: 15px 0 5px;
        font-size: 1rem;
    }
    .controls2 i {
        padding-top: 10px;
        padding-right: -1px;
        padding-left: -1px;
        padding-bottom: 10px;
        font-size: 1rem;
        width: calc(100% / 6);
    }
    .controls3 i {
        padding: 5px 0 15px;
        font-size: 1rem;
    }
}